.container{
    /* height: 400px;
    width: 400px;
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid black; */
     display: grid;
      width: 400px;
      height: 400px;
      border: 2px solid #333;
}
.row{
height: 50px;
width:50px;
display: flex;
}
.black{
    height: 50px;
    width:50px;
    background-color: #000;
}
.white{
    height: 50px;
    width:50px;
    background-color: #fff;
}