h1,h3,h4,h5{
    text-align: center;
    color:white;
    text-transform: uppercase;
}
body{
    background-color: whitesmoke;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/622/344/original/beautiful-background-of-lines-with-gradients-vector.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: rgb(151, 197, 151);
    padding: 15px;
}
/* what is seudo selecter */
a:hover{
    color: green;

}